body {
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
 /* Start of Header Style*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image:url("../images/abstract\ background\ portfolio.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
header h1 {
    font-weight: bold;
    font-size: 46px;
    margin: 20px;
    color: aliceblue;    
}
header a {
    text-decoration: solid;
    color: aliceblue;
    margin: 35px;
    font-style: oblique;
    font-weight: 500;

}
header nav {
    margin: 25px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 19px;
}
/* End of Style Header*/
/* Add style for About Me*/
.about-me{
    float: left;

}
.work {
    float: right;
}
section h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 28px;
    margin: 20% 0 5% 0;
}

.myself {
    margin-left: 7%;
    position: relative;
    padding: 1%;
    border-style: double;
    border-width: 10px;
    height: "30px";
    width: "30px";
}
.words{
    text-align: right;
    float: right;
    position: relative;
    align-content: flex-end;
}
/*End of Style for About Me*/
/* Style of Work*/
.sec-heading {
    margin: 50% 0 0 0;
    padding-top: 50;
    display: flex;

}

.pic1 {
    float: right;
}
