body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(230, 144, 241);
  text-align: center;
  font-size: 26px;
  /* Start of Header Style*/
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../images/abstract\ background\ portfolio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header h1 {
  font-weight: bold;
  font-size: 60px;
  margin: 20px;
  color: aliceblue;
}
header a {
  text-decoration: solid;
  color: aliceblue;
  margin: 35px;
  font-style: oblique;
  font-weight: 500;
}
header nav {
  margin: 25px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 26px;
}
/* End of Style Header*/
/* Add style for About Me*/
.about-me {
  float: left;
}
.work {
  float: right;
}
section h2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 50px;
  margin: 20% 0 5% 0;
}

.myself {
  margin-left: 30%;
  position: relative;
  padding: 1%;
  border-style: double;
  border-width: 10px;
  height: 500px;
  width: 500px;
}
.words {
  text-align: center;
  position: relative;
  align-content: flex-end;
}
/*End of Style for About Me*/
/* Style of Work*/
.pic-1 {
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  margin: 0 31%;
  
}
img {
  height: 250px;
  width: 250px;
  margin: 0 42%;
}

/*Start of Contact me*/
section h3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 38px;
  margin: 10 0 0 0
}
section ul li{
    list-style: none;
    font-size: 22px;
}
